*{
	box-sizing: border-box;
}

body{
font-family: 'Roboto', sans-serif;
font-weight: 400;
}
.container{
	max-width: 1030px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.header{
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-position: center center;
    padding-top: 10px;
	
}
.header__inner{
	text-align: center;
	width: 510px;
	height: 510px;
	border-radius: 50%;
	border:10px solid #f4d4a5;
	background-color: #fff;
	padding-top: 13px;
	padding-bottom: 160px;
	margin-left: 140px;
}
.header__name{
	padding-top: 12px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 35px;
	margin-bottom: 15px;
	color: #bf4200;
	font-family: 'Lato', sans-serif;
}
.phone{
	font-weight: 300;
	font-size: 35px;
	margin-bottom: 40px;
	text-decoration: none;
	color: #000;
	display: inline-block;
}
.header__title{
	text-transform: uppercase;
	color: #1fad26;
	font-weight: 700;
	padding: 0px 5px;
	font-size: 50px;
}
.header__sale{
	margin-top: 40px;
}
.main{
	text-align: center;
	padding-top: 60px;
}
.main__title{
	font-size: 41px;
	color: #d07a2d;
	margin-bottom: 60px;
}
.main__text{
	font-size: 30px;
	text-align: center;
}
.main__text p{
	
}
.project_title, .gallery__title{
	font-size: 41px;
	color: #d07a2d;
	margin-bottom: 60px;
	font-weight: 700;
}
.project__name{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 32px;
	padding-top: 50px;
}
.project__size, .project__area, .project__price{
	font-size: 25px;
}
.project__price{
	color: #17753b;
	margin-bottom: 40px;
}
.project__images-item-1{
	margin-bottom:100px;
}
.download{
display: block;
background-color: #f1dfbc;
height:300px;
padding: 30px 0px;
}
.download img{
display: block;
margin: auto;
margin-bottom: 35px;
}
.download a{
	border:5px solid #effd15;
	background-color: #17753b;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	padding: 30px 70px;
	text-align: center

}
.gallery__title{
	padding-top: 100px;
}
.gallery__text{
	font-size: 25px;
	margin-bottom:70px;
}
.footer{
	text-align: center;
}
.main__img{
	padding: 90px 0px;	
}

.gallery__inner{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.gallery__inner img{
display: block;
}
.footer .phone{
	font-weight: 700;
}
.footer__email{
	padding-top: 40px;
	padding-bottom: 150px;
	color: #3c92c9;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-decoration: underline;
}